# phpstorm project files
.idea

# netbeans project files
nbproject
NUL

# zend studio for eclipse project files
.buildpath
.project
.settings
.env

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/src/configs/app.php

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store
